
$text-color: #93c2de;
$date-color: #93deaf;
$boolean-color: #deaf93;
$number-color: #de93c2;
$other-color: #E6FF2E;
$geometry-point-color: #AF93DE;
$geometry-multi-point-color: #8458CC;
$geometry-polygon-color: #DED593;
$geometry-multi-polygon-color: #756C24;
$geometry-line-color: #939DDE;
$geometry-multi-line-color: #242F75;


.cardFieldType {
  font-size: 22px;
  font-style: italic; 
  margin-top:-1%;
  margin-bottom:4%;
}

.cardFieldTitle {
  font-size: 25px; }

.cardBorder {
  border-left-width: 5px; 
  margin-bottom: 8%;
  margin-left:2%;
  margin-right:2%;
  column-break-inside: avoid;
  display: inline-block;
  width:100%;
}

.cardMinMax {
  font-size: 100%; 
  margin-bottom:4%;
}

.cardBorder-type--text {
  border-left-color: $text-color;
  border-right-color: $text-color;
}

.cardBorder-type--date{
  border-left-color: $date-color;
  border-right-color: $date-color;
}
.cardBorder-type--boolean{
  border-left-color: $boolean-color;
  border-right-color: $boolean-color;
}

.cardBorder-type--number{
  border-left-color: $number-color;
  border-right-color: $number-color;
}

.cardBorder-type--geometry-multi-polygon{
  border-left-color: $geometry-multi-polygon-color;
  border-right-color: $geometry-multi-polygon-color;
}

.cardBorder-type--geometry-line{
  border-left-color: $geometry-line-color;
  border-right-color: $geometry-line-color;
}
.cardBorder-type--geometry-multi-line{
  border-left-color: $geometry-multi-line-color;
  border-right-color: $geometry-multi-line-color;
}

.cardBorder-type--geometry-point{
  border-left-color: $geometry-point-color;
  border-right-color: $geometry-point-color;
}
.cardBorder-type--geometry-multi-point{
  border-left-color: $geometry-multi-point-color;
  border-right-color: $geometry-multi-point-color;

}

.cardBorder-type--geometry-polygon{
  border-left-color: $geometry-polygon-color;
  border-right-color: $geometry-polygon-color;
}
.cardBorder-type--geometry-multi-polygon{
  border-left-color: $geometry-multi-polygon-color;
  border-right-color: $geometry-multi-polygon-color;
}

.cardBorder-header{
  border-right-width: 8px; 
  border-left-width: 8px; 
  border-top-width: 2px; 
  border-bottom-width: 2px;
  margin-bottom: 8%;
  margin-left:2%;
  margin-right:2%;
  padding-top:2%;
  column-break-inside: avoid;
  display: inline-block;
  width:100%;
}

/*****headers*****/
.cardBorder-header-type--text{
    border-color: $text-color;
 }
.cardBorder-header-type--date{
    border-color: $date-color;
 }

.cardBorder-header-type--boolean{
    border-color: $boolean-color;
}

.cardBorder-header-type--number{
    border-color: $number-color;
}

.cardBorder-header-type--geometry-multi-polygon{
    border-color: $geometry-multi-polygon-color;
}

.cardBorder-header-type--geometry-line{
    border-color: $geometry-line-color;
}
.cardBorder-header-type--geometry-multi-line{
    border-color: $geometry-multi-line-color;
}

.cardBorder-header-type--geometry-point{
    border-color: $geometry-point-color;
}
.cardBorder-header-type--geometry-multi-point{
    border-color: $geometry-multi-point-color;
}

.cardBorder-header-type--geometry-polygon{
    border-color: $geometry-polygon-color;
}
.cardBorder-header-type--geometry-multi-polygon{
    border-color: $geometry-multi-polygon-color;
}

.details-description{
  margin-right:4%
}
