.ais-SearchBox__root {
  max-width: 100%;
}

.Catalog__refine h1 {
  font-size: 20px;
}

.ais-Panel__root {
  padding-bottom: 10px;
}

.Catalog__currentRefinements {
  padding-top: 10px;
  padding-bottom: 15px;
}

.Catalog {
  padding-top: 20px;
}

.Catalog__pagination {
  text-align: center;
  width: 100%;
}

.Catalog__record-description {
  margin: -15px 205px -15px -15px;
  padding: 15px;
  background-color: white;
}

.Catalog__record-description-text {
  max-height: 88px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.Catalog__record-meta {
  float: right;
  margin: 0 -15px;
  padding: 0 15px;
  width: 220px;
}

.Catalog__record-meta-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.Catalog__record-meta-title:first-child {
  margin-top: 0;
}

.Catalog__record-meta-value {
  font-weight: lighter;
  font-size: 13px;
  margin-left: 5px;
}

.Catalog__record .panel-body {
  background-color: #d7ffd9;
}

.Catalog__record-tags {
  font-size: 13px;
}

.App--font-thin {
  font-weight: lighter;
}

.ais-RefinementList__showMoreDisabled {
  display: none;
}

.ais-RefinementList__item input[type=checkbox]:checked~.ais-RefinementList__itemBox {
  background-color: #75a478;
}

.ais-RefinementList__item {
  color: #222;
}

.ais-RefinementList__itemLabel {
  font-weight: lighter;
  font-size: 13px;
}

.ais-RefinementList__itemCount {
  color: #222;
  font-weight: lighter;
}

.ais-Stats__root {
  color: #222;
  font-size: 15px;
  opacity: 1;
  float: left;
  line-height: 31px;
  margin-top: 5px;
  margin-right: 5px;
}

.ais-CurrentRefinements__item {
  border-radius: 0;
  background-color: transparent;
  color: #222;
  font-weight: lighter;
  padding: 4px 2px;
  font-size: 13px;
  margin-right: 5px;
}

.ais-CurrentRefinements__itemParent {
  padding: 0 8px;
  border: #75a478 thin solid;
  float: left;
  margin-top: 5px;
}

.ais-CurrentRefinements__itemClear {
  color: #75a478;
}

.ais-ClearAll__root:disabled:disabled, .ais-ClearAll__root:disabled[disabled] {
  display: none;
}

.ais-ClearAll__root {
  font-size: 13px;
  background: #d7ffd9;
  line-height: 23px;
  border: #75a478 thin solid;
  color: #222;
  float: left;
  border-radius: 0;
  margin-top: 5px;
}