.filter {
  margin-bottom: 1.25em;
}

.filter h4 {
  border-bottom: thin #e3e3e3 solid;
  font-weight: 300;
}

.filter .close {
  color: #222;
}

.filter .close:hover {
  background: transparent;
  border: none;
}

.FilterChartOptions__filter-options .Select {
  z-index: 10;
}

.FilterChartOptions__select {
  z-index: 11;
}