button.list-group-item {
    padding: 5px 10px;
}

.is-selected {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    //border: solid 3px;
    //border-color: #f2c407;
}

.not-selected {
    //opacity: 0.5;
    // filter: alpha(opacity=50); /* For IE8 and earlier */
}

.column-type {
   border-left-width: 10px;
}

$text-color: #93c2de;
$date-color: #93deaf;
$boolean-color: #deaf93;
$number-color: #de93c2;
$other-color: #E6FF2E;
$geometry-point-color: #AF93DE;
$geometry-multi-point-color: #8458CC;
$geometry-polygon-color: #DED593;
$geometry-multi-polygon-color: #756C24;
$geometry-line-color: #939DDE;
$geometry-multi-line-color: #242F75;


.column-type--text{
    border-left-color: $text-color;
}

.column-type--geometry-multi-polygon{
    border-left-color: $geometry-multi-polygon-color;
}

.column-type--geometry-line{
    border-left-color: $geometry-line-color;
}
.column-type--geometry-multi-line{
    border-left-color: $geometry-multi-line-color;
}

.column-type--geometry-point{
    border-left-color: $geometry-point-color;
}
.column-type--geometry-multi-point{
    border-left-color: $geometry-multi-point-color;
}

.column-type--geometry-polygon{
    border-left-color: $geometry-polygon-color;
}
.column-type--geometry-multi-polygon{
    border-left-color: $geometry-multi-polygon-color;
}

.column-type--date{
    border-left-color: $date-color;
 }
.column-type--boolean{
    border-left-color: $boolean-color;
}

.column-type--number{
    border-left-color: $number-color;
}

.column-type--other{
    border-left-color:$other-color;
}

.column-type--text.selected{
    background-color: $text-color;
}

.column-type--date.selected {
    background-color: $date-color;
 }
.column-type--boolean.selected {
    background-color: $boolean-color;
}

.column-type--number.selected {
    background-color: $number-color;
}

.column-type--other.selected {
    background-color:$other-color;
}



