button.list-group-item {
    padding: 5px 10px;
}

.is-selected {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    //border: solid 3px;
    //border-color: #f2c407;
}

.not-selected {
    //opacity: 0.5;
    // filter: alpha(opacity=50); /* For IE8 and earlier */
}

.column-type {
   border-left-width: 10px;
}

$text-color: #93c2de;
$date-color: #93deaf;
$boolean-color: #deaf93;
$number-color: #de93c2;
$other-color: #E6FF2E;
$geometryPoint: #AF93DE;
$geometryMultiPoint: #8458CC;
$geometryPolygon: #DED593;
$geometryMultiPolygon: #756C24;
$geometryLine: #939dde;
$geometryMultiLine: #242F75;


.column-type--text{
    border-left-color: $text-color;
}

.column-type--geometryMultiPolygon{
    border-left-color: $geometryMultipolygon;
}

.column-type--geometryLine{
    border-left-color: $geometryLine;
}
.column-type--geometryMultiLine{
    border-left-color: $geometryMultiLine;
}

.column-type--geometryPoint{
    border-left-color: $geometryPoint;
}
.column-type--geometryMultiPoint{
    border-left-color: $geometryMultiPoint;
}

.column-type--geometryPolygon{
    border-left-color: $geometryPolygon;
}
.column-type--geometryMultiPolygon{
    border-left-color: $geometryMultiPolygon;
}


.column-type--date{
    border-left-color: $date-color;
 }
.column-type--boolean{
    border-left-color: $boolean-color;
}

.column-type--number{
    border-left-color: $number-color;
}

.column-type--other{
    border-left-color:$other-color;
}

.column-type--text.selected{
    background-color: $text-color;
}

.column-type--date.selected {
    background-color: $date-color;
 }
.column-type--boolean.selected {
    background-color: $boolean-color;
}

.column-type--number.selected {
    background-color: $number-color;
}

.column-type--other.selected {
    background-color:$other-color;
}



