.related-dataset-link-area{
}
.related-dataset-link{
display: inline-block;
font-size:24px;
padding-top:3%;
padding-bottom:3%;
}


.popover-relateddataset-container{
}

.popover-relateddataset-info{
  overflow-wrap: break-word;
  padding:1%;
  margin:1%;
  width:90%;
}
