.ais-SearchBox__root {
  max-width: 700px;
  margin: 0 5px 5px 0;
}

.Catalog__refine h1 {
  font-size: 20px;
}

.ais-Panel__root {
  padding-bottom: 10px;
}

.Catalog__currentRefinements {
  padding-bottom: 10px;
}

.Catalog {
  padding-top: 20px;
}

.Catalog__pagination {
  text-align: center;
  width: 100%;
}
