

.related-links-tbl{
    /*border: 1px solid black;*/
    /*border: 1px solid #ecf0f1;*/
    font-size: 20px;
    width:90%;
    margin-bottom:3%;
    border-top: 1px solid #ecf0f1;
}

.related-dataset-links-header{
  font-size:21px;
  padding-bottom:1%;
}

.related-link-dept{
  background-color: #ecf0f1;
  width:30%;
}

.related-links-tbl tr{
  border-bottom: 1px solid #ecf0f1;
}


.related-links-tbl td{
  padding:2%;
}
