.Loading__root {
  width:100%;
  position: static;
}

.Loading__root--chart {
  min-height: 520px;
  position: relative;
}

.Loading-indicator {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 10%;
  z-index: 2;
}

.Loading__root--chart .Loading-indicator {
  background: rgba(255, 255, 255, .7);
}

.centered .Loading-indicator {
  text-align: center;
  border: none;
}


