.AboutPage__section-heading {
    text-align: center;
    margin-bottom: 20px;
}

.AboutPage__section-body {
    font-size: 18px;
    width: 75%;
    margin: auto;
}

.AboutPage__join-beta-program {
    text-align: center;
}

.AboutPage__join-beta-program-button {
    width: 300px;
}

.AboutPage__section {
    margin-bottom: 25px;
}